@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.contact{
    min-height:92vh;
    background:linear-gradient(135deg,#050b15,#0b1d36,#050b15);
    padding:100px 0;
}

.contact-heading{
    text-align:center;
    font-size:60px;
    font-weight:800;
    color:#fff;
}

.contact-heading span{
    color:#d4af37;
}

.contact-subheading{
    text-align:center;
    color:#cfcfcf;
    font-size:18px;
    margin-top:15px;
    margin-bottom:60px;
}

.contact-content{
    row-gap:40px;
}

.contact-info h2{
    color:#d4af37;
    margin-bottom:20px;
    font-size:34px;
}

.contact-info p{
    color:#d5d5d5;
    line-height:1.9;
    font-size:17px;
}

.info-box{
    margin-top:30px;
}

.info-box h5{
    color:#4ea8ff;
    margin-bottom:8px;
    font-size:18px;
}

.info-box p{
    color:white;
}

.hire-btn{
    display:inline-block;
    margin-top:40px;
    padding:14px 40px;
    background:#d4af37;
    color:#000;
    text-decoration:none;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    border:2px solid #d4af37;
    transition:.4s;
}

.hire-btn:hover{
    background:#000;
    color:#d4af37;
    box-shadow:0 0 20px rgba(212,175,55,.5);
}

.contact-card{
    background:#10233d;
    border:2px solid #d4af37;
    border-radius:25px;
    padding:40px;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.contact-card h2{
    color:#d4af37;
    margin-bottom:25px;
    font-size:32px;
}

.form-control{
    margin-bottom:20px;
    padding:15px;
    border-radius:12px;
    border:2px solid #4ea8ff;
    background:#08111f;
    color:white;
}

.form-control::placeholder{
    color:#cfcfcf;
}

.form-control:focus{
    border-color:#d4af37;
    box-shadow:none;
    background:#08111f;
    color:white;
}

.send-btn{
    width:100%;
    padding:15px;
    background:#d4af37;
    color:#000;
    border:none;
    border-radius:50px;
    font-size:18px;
    font-weight:600;
    transition:.4s;
}

.send-btn:hover{
    background:#000;
    color:#d4af37;
    border:2px solid #d4af37;
    box-shadow:0 0 20px rgba(212,175,55,.5);
}

@media(max-width:991px){

.contact-heading{
    font-size:48px;
}

.contact-card{
    margin-top:40px;
    padding:30px;
}

}
.preview-heading{
    color:#d4af37;
    font-size:24px;
    font-weight:600;
    margin-top:35px;
    margin-bottom:15px;
}

.preview-text{
    color:#ffffff;
    font-size:18px;
    line-height:1.8;
    min-height:80px;
    word-wrap:break-word;
}