@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{

font-family:'Poppins',sans-serif;

}

/* Navbar */

.navbar{

background:#050b15;
padding:18px 0;
box-shadow:0 8px 25px rgba(0,0,0,.55);

}

/* Logo */

.navbar-brand{

font-size:34px;
font-weight:700;
color:#d4af37 !important;
letter-spacing:1px;
transition:.4s;

}

.navbar-brand:hover{

color:white !important;
transform:scale(1.08);

}

/* Links */

.navbar-nav .nav-link{

position:relative;
margin:0 14px;
font-size:17px;
font-weight:500;
color:white !important;
transition:.4s;

}

/* Golden Line Animation */

.navbar-nav .nav-link::after{

content:'';
position:absolute;
left:50%;
bottom:-6px;
width:0%;
height:3px;
background:#d4af37;
transition:.4s;
transform:translateX(-50%);
border-radius:10px;

}

.navbar-nav .nav-link:hover::after{

width:100%;

}

/* Hover */

.navbar-nav .nav-link:hover{

color:#4fa3ff !important;
transform:translateY(-3px);

}

/* Active */

.navbar-nav .nav-link.active{

color:#d4af37 !important;

}

/* Toggler */

.navbar-toggler{

border:2px solid #d4af37;

}

.navbar-toggler:focus{

box-shadow:none;

}

/* Sticky Effect (Optional) */

.navbar{

position:sticky;
top:0;
z-index:1000;

backdrop-filter:blur(8px);

}